{{#if onChangePage}}
<div class="page-select">
	<div class="md-table-label">Page:</div>
	{{#paper-table-select options=pages selected=page onChange=onChangePage as |pageNumber|}}
		{{pageNumber}}
	{{/paper-table-select}}
</div>
{{/if}}
<div class="limit-select">
	<div class="md-table-label">Rows per page:</div>
	{{#paper-table-select options=limitOptions selected=limit onChange=onChangeLimit as |limit|}}
		{{limit}}
	{{/paper-table-select}}
</div>
<div class="buttons">
	{{#if total}}<div class="label">{{startOffset}} - {{endOffset}} of {{total}}</div>{{/if}}
	{{#paper-button iconButton=true onClick=onDecrementPage}}
		{{paper-icon "navigate before"}}
	{{/paper-button}}
	{{#paper-button iconButton=true onClick=onIncrementPage}}
		{{paper-icon "navigate next"}}
	{{/paper-button}}
</div>
